<!DOCTYPE html>
<html lang="en">
<head>

    <!--  Meta tag  -->
    <meta charset="UTF-8">

    <!--  Title  -->
    <title>Restful Blog App</title>

    <!--  Import CSS  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
          integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ=="
          crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">

</head>
<body>

<div class="ui fixed inverted menu">
    <div class="ui container">
        <div class="header item"><i class="code icon"></i>Restful Blog App</div>
        <a class="item" href="/">Home</a>
<!--        <a class="item" href="/index/new">New Blog</a>-->
    </div>
</div>
